{% extends 'backend/backend_layout.html.twig' %}

{% block title %}New Role{% endblock %}

{% block content %}
    <h1>Create new Role</h1>

    {{ include('backend/role/_form.html.twig') }}

    <a href="{{ path('backend_role_list') }}">back to list</a>
{% endblock %}
