{% extends 'backend/backend_layout.html.twig' %}

{% block title %}New Tag{% endblock %}

{% block content %}
    <h1>Create new Tag</h1>

    {{ include('backend/tag/_form.html.twig') }}

    <a href="{{ path('backend_tag_list') }}">back to list</a>
{% endblock %}
