html {
    overflow-y: scroll;
}

body {
    background-color: whitesmoke;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.container {
    background-color: white;
}

nav {
    float: right;
}

#breadcrumb, nav {
    color: grey;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

#breadcrumb a, nav a {
    color: grey;
}

h1 {
    color: #333;
    font-family: 'Lato';
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
h2 {
    color: #999;
    font-family: 'Lato';
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}
#header-margin {
    margin-bottom: 2rem;
}

#sidebar {
    line-height: 1.8rem;
    font-size: 0.75rem;
}
    #sidebar h3 {
        font-size: 1rem;
        font-weight: bold;
    }

.movie-main {
}
    .movie-main .title {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .movie-main p {
        color: grey;
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .movie-main .summary {
        color: black;
        font-size: 1rem;
        margin-top: 1.2rem;
    }

    .movie-main .score {
        color: #FECC00;
        font-size: 1rem;
        font-weight: bold;
        height: 19px;
        margin-top: 1.5rem;
    }
        .movie-main .score img {
            background: #f1f1f1 url('stars-bg.png') no-repeat;
            margin-right: 0.5rem;
            vertical-align: top;
        }

#show h2 {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    margin-top: 2rem;
}
#show .infos {
    color: black;
    font-size: 0.9rem;
}
    #show .infos label {
        color: grey;
        width: 200px;
    }

#show .casting .actor {
    font-weight: bold;
    font-size: 0.95rem;
}
#show .casting .role {
    color: grey;
    font-size: 0.8rem;
}

#banner{
    background-color:#0AC3A7;
    margin-bottom: 0;
}

#banner h1 a{
    color:white;
    text-decoration: none;
}

#subnav{
    background-color:black;
    height:3rem;
    margin-bottom: 2rem;
}

#subnav a{
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

#custom-404 .fas{

    font-size: 5rem;
}
